/* # Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px
*/

* {
  --color-white: hsl(0, 0%, 100%);
  --color-light-grey: hsl(212, 45%, 89%);
  --color-greyish-blue: hsl(220, 15%, 55%);
  --color-dark-blue: hsl(218, 44%, 22%);
  margin: 0;
  padding: 0;
  text-align: center;
}

body {
  font-family: "Outfit", sans-serif;
  background-color: var(--color-light-grey);
  font-size: 15px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* top: 50%;
  left: 50%; */
  /* transform: translate (-50%, -50%); */
}

.card {
  background-color: var(--color-white);
  width: 300px;
  border: none;
  border-radius: 8px;
}

.qr-code {
  height: auto;
  width: 270px;
  border: none;
  border-radius: 8px;
  margin: 15px;
}

.heading {
  color: var(--color-dark-blue);
  font-weight: 700;
  margin-bottom: 15px;
}

.textblock {
  color: var(--color-greyish-blue);
  font-weight: 400;
  margin-bottom: 20px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media only screen and (min-width: 375px) {
}

@media only screen and (min-width: 1440px) {
}
